body {
    font-family: 'Lucida Console', Monaco, monospace;
    margin: 0;
    padding: 0;
    background-color: #ffe6f2;
    color: #333;
    max-width: 1400px;
    margin: auto;
}

header {
    background: linear-gradient(to right, #add8e6, #ffb6c1);
    color: white;
    padding: 10px 0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main {
    padding: 20px;
}

#content {
    margin-top: 20px;
}

h2,
p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

form label {
    display: block;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

form input[type="text"],
form textarea,
form input[type="number"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}

form input[type="file"] {
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #ffb6c1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

form input[type="submit"]:hover {
    background-color: #ff7f7f;
}

#profileDisplay {
    margin-top: 20px;
}

#profileDisplay h3,
#profileDisplay p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img img {
    width: 100%;
    height: auto;
}

.post {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.post .profile-img {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

button {
    background-color: #ffb6c1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #ff7f7f;
}

.post-content {
    position: relative;
    overflow: hidden;
    max-height: 100px;
    line-height: 1.2em;
}

.post-content.expanded {
    max-height: none;
}

.view-more {
    color: #ffb6c1;
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
}

.reactions {
    margin-top: 10px;
}

.reactions span {
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.2em;
}